{% load static %}
<!--appkey=c6a890a7f127b3b83c16c9ee8ebbe7d5-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>다양한 이미지 마커 표시하기</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        <link rel="stylesheet" href="{% static 'css/frame.css' %}" />
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


    </head>
<body>
<!-- 지도를 표시할 div 입니다 -->
<body>
    <div class="container">
        <div class="row">
            <div class = "col-md-12">
                <div class="header">
                    <h1>맹모삼천지교</h1>
                    <p>아이들과 함께 안전하게 살 수 있는 동네</p>
              </div>
              <!-- header end -->
            </div>
        </div>
      
      <div class = "row">
        <div class = "searchbar col-md-12"> 
            <form>
                <span>검색하실 주소를 입력하세요</span> <input type ="text" name="address">   
                <span>반경 선택 </span>
                <select name="item">
                    <option value="s">좁게</option>
                    <option value="m">넓게</option>
                    <option value="w">중간</option>

                </select>
                <button type ="submit">검색</button>
            </form>
      </div>
      <!-- search bar end -->
      </div>
      
        
      <div class="row">
        <div  class="mapwrap col-md-8"> 
            <!-- 지도 위에 표시될 마커 카테고리 -->
            <div id="map" style="width:100%;height:350px;"></div>
            <p><em>지도를 움직여 주세요!</em></p> 
            <p id="result"></p>
            
            <div class="category">
                <ul>
                    <li id="coffeeMenu" onclick="changeMarker('coffee')">
                        <span class="ico_comm ico_coffee"></span>
                        커피숍
                    </li>
                    <li id="storeMenu" onclick="changeMarker('store')">
                        <span class="ico_comm ico_store"></span>
                        편의점
                    </li>
                    <li id="carparkMenu" onclick="changeMarker('carpark')">
                        <span class="ico_comm ico_carpark"></span>
                        주차장
                    </li>
                </ul>
            </div>
        </div>

      <!-- containter end-->
      
      <div class="sidebar col-md-4">
      <table class = "table">
        <h3>검색결과</h3>
        <tr>
          <thead>
            <td>항목 이름</td>
            <td>수</td>
          </thead>
        </tr>
        
        <tbody>
          <tr>
            <td>유치원</td>
            <td>1</td>
          </tr>
          <tr>
            <td>중고등학교</td>
            <td>1</td>
          </tr> 
          <tr>
            <td>도서관</td>
            <td>1</td>
          </tr>  
          <tr>
            <td>공원</td>
            <td>1</td>
          </tr>
          <tr>
            <td>병원</td>
            <td>1</td>
          </tr>
          <tr>
            <td>유흥업소</td>
            <td>1</td>
          </tr>
        </tbody>   
       </table>
      </div>
      </div>
      <!-- sidebar end-->
      <div class="row">
        <div id="footer">
            <p>hello</p>  
          </div>

      </div>
      
      <!-- footer end-->

    </div>
    </body>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c6a890a7f127b3b83c16c9ee8ebbe7d5"></script>
<script type="text/javascript" src="/static/js/list.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>



</body>
</html>