{% load static %}
<!--appkey=c6a890a7f127b3b83c16c9ee8ebbe7d5-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>맹모삼천지교 주변시설검색</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'image/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        <link rel="stylesheet" href="{% static 'css/frame.css' %}" />
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


    </head>
<body>
<!-- 지도를 표시할 div 입니다 -->
<body>
    <div class="container">
        <div class="row">
            <div class = "col-md-12">
                <div class="header">
                    <h1>맹모삼천지교</h1>
                    <p>아이들과 함께 안전하게 살 수 있는 동네 찾기</p>
                    <p id="warn">현재는 대구지역만 주변시설 정보를 제공합니다</p>
              </div>
              <!-- header end -->
            </div>
        </div>
      
      <div class = "row">
        <p>주소를 입력하고, 반경을 선택후 검색버튼을 눌려주세요</p>

        <div class = "searchbar col-md-12"> 

            <form name = "searchForm">
              <center>

              <input class="form-box" onclick="sample6_execDaumPostcode()" type ="text" id="sample6_address" placeholder = "주소를 입력해 주세요" name="address">  
              <input  class="btn" onclick="search()" value="검색" type ="submit" id ="searchBtn">
             
              <br>

                  <input class="form-check-input" name = "range" type="radio" id="2" value="2" checked>
                  <label class="form-check-label" for="inlineCheckbox1">좁은 범위</label>
                  <input class="form-check-input" name = "range" type="radio" id="3" value="3">
                  <label class="form-check-label" for="inlineCheckbox1">중간 범위</label>
                  <input class="form-check-input" name = "range" type="radio" id="5" value="5">
                  <label class="form-check-label" for="inlineCheckbox1">넓은 범위</label>
                

                </center>
            </form>
      </div>
      <!-- search bar end -->
      </div>
      
        
      <div class="row">
        <div  class="mapwrap col-md-8"> 
            <!-- 지도 위에 표시될 마커 카테고리 -->
            <div id="map" style="width:100%;height:350px;"></div>

        </div>

      <!-- containter end-->
      
      <div class="sidebar col-md-4">
      <table class = "table">
        <h3>검색결과</h3>
        <tr>
          <thead>
            <td>아이콘</td> 
            <td>항목 이름</td>
            <td>수</td>
          </thead>
        </tr>
        <tbody>
          <tr>
            <td><img class='IMGresize' src="https://i.ibb.co/mCS643K/kids.png" alt="kids" border="0"></td>
            <td>유치원</td>
            <td id = "kid">0</td>
          </tr>
          <tr>
            <td><img class='IMGresize' src="https://i.ibb.co/9yrwPdM/school.png" alt="school" border="0" ></td>
            <td>중고등학교</td>
            <td id = "school">0</td>
          </tr> 
          <tr>
            <td><img class='IMGresize' src="https://i.ibb.co/MBzbnVz/book.png" alt="book" border="0"></td>
            <td>도서관</td>
            <td id = "lib">0</td>
          </tr>  
          <tr>
            <td><img class='IMGresize' src="https://i.ibb.co/BGQb3BF/park.png" alt="park" border="0"></td>
            <td>공원</td>
            <td id = "park">0</td>
          </tr>
          <tr>
            <td><img class='IMGresize' src="https://i.ibb.co/PcC6qy0/hospital.png" alt="hospital" border="0"></td>
            <td>병원</td>
            <td id = "hospital">0</td >
          </tr>
          <tr>
            <td><img class='IMGresize' src="https://i.ibb.co/vXg5hgM/glass.png" alt="glass" border="0"></td>
            <td>유흥업소</td>
            <td id = "badstore">0</td>
          </tr>
        </tbody>   
       </table>
      </div>
      </div>
      <!-- sidebar end-->
      <div class="row">
        <div class="footer">
            <p>개발자 정보</p>
            <address>
              Written by <a href="mailto:dlwlgus4553@gmail.com">Jihyun Lee</a>.
              Visit: <a href="https://github.com/dlwlgus53">Jihyun's github</a>
              and <a href="https://raspberrypi98.tistory.com/">Jihyun's blog</a><br/>
              Written by <a href="mailto:21800339@handong.edu">Subin Bae</a>.
            </address>
             
          </div>

      </div>
      
      <!-- footer end-->

    </div>
    </body>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=585192bcd0088d25ca626a7cae028be5&libraries=services"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/static/js/addSearch.js"></script>
<script type="text/javascript" src="/static/js/list.js"></script>
<script type="text/javascript" src="/static/js/library.js"></script>
<script type="text/javascript" src="/static/js/badstore.js"></script>
<script type="text/javascript" src="/static/js/hospital.js"></script>
<script type="text/javascript" src="/static/js/park.js"></script>
<script type="text/javascript" src="/static/js/kid.js"></script>
<script type="text/javascript" src="/static/js/school.js"></script>

<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/search.js"></script>


<!-- c6a890a7f127b3b83c16c9ee8ebbe7d5 -->

</html>

