body {
  font-family: "Lato", sans-serif;
}

.searchbar{
  background-color : mistyrose;
  text-align: center;
  padding-top : 10px;
  padding-bottom : 10px;
  margin-bottom : 10px
}

.sidebar{
  text-align: center;
  font-weight: bold;
}

.header {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

#footer {
  clear: both;
  padding: 20px;
}



td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
thead {
  background-color: #ccc;
}
table {
  margin-right: auto;
  border-collapse: collapse;
}
